html {
  background-color: #8cbeb2;
  background: url("https://i.pinimg.com/originals/51/ef/eb/51efeb2d035a4a3e0113ccef7857b4a1.jpg")
    no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}

body {
  color: #f3b562;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: auto;
}

.title {
  font-weight: bold;
  transform: skew(-7deg) translatex(100%);
  text-shadow: 3px 3px #5c4b51;
  font-size: 100px;
  animation: titleintro 6s;
}
@keyframes titleintro {
  0% {
    transform: skew(-7deg) translatex(-100%);
  }
  50% {
    transform: skew(-7deg) translatex(0%);
  }
  100% {
    transform: skew(-7deg) translatex(100%);
  }
}

.header {
  position: absolute;
  width: 100%;
  top: 0%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 0.6%;
}

.header a:link,
a:visited {
  color: #f3b562;
  font-size: 100px;
  line-height: 80%;
  text-shadow: 3px 3px #5c4b51;
  text-decoration: none;
  margin: auto;
  text-align: center;
}

.💪📦 {
  position: absolute;
  width: 100%;
  bottom: 3%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 0.6%;
  font-size: 130px;
}

.💪📦 div {
  margin: auto;
  text-align: center;
  transition: all 0.3s;
  color: rgba(0, 0, 0, 0);
}

.icon {
  width: 130px;
  height: 130px;
}

.icon:hover {
  transition: 0.2s;
  transform: scale(1.3);
  cursor: pointer;
}

.icon:active {
  transition: 0.1s;
  transform: scale(1.1);
  cursor: pointer;
  animation: drain 3s;
}

.food {
  -webkit-mask-image: url(images/carrot-solid.svg);
  mask-image: url(images/carrot-solid.svg);
  mask-repeat: no-repeat;
  background-image: linear-gradient(to top, #f06060 50%, #f3b562 0);
  background-position-y: 100%;
  background-size: 100% 200%;
}

.energy {
  -webkit-mask-image: url(images/bolt-solid.svg);
  mask-image: url(images/bolt-solid.svg);
  mask-repeat: no-repeat;
  background-image: linear-gradient(to top, #f06060 50%, #f3b562 0);
  background-position-y: 100%;
  background-size: 100% 200%;
}
.hygiene {
  -webkit-mask-image: url(images/soap-solid.svg);
  mask-image: url(images/soap-solid.svg);
  mask-repeat: no-repeat;
  background-image: linear-gradient(to top, #f06060 50%, #f3b562 0);
  background-position-y: 100%;
  background-size: 100% 200%;
}
.happiness {
  -webkit-mask-image: url(images/face-smile-beam-solid.svg);
  mask-image: url(images/face-smile-beam-solid.svg);
  mask-repeat: no-repeat;
  background-image: linear-gradient(to top, #f06060 50%, #f3b562 0);
  background-position-y: 100%;
  background-size: 100% 200%;
}


/*
@keyframes drain {
  0% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
*/

.🐈 {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 10%);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  font-size: 50%;
  z-index: 1;
  bottom: 100%;
  color: #f3b562;
  text-shadow: 2px 2px #5c4b51;
  line-height: 120%;
  min-width: 130px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Links inside the dropdown */
.dropdown-content a {
  justify-content: center;
  text-decoration: none;
  display: block;
}

/* Color Theme Swatches in Hex */
.vintage-card-1-hex {
  color: #5c4b51;
}
.vintage-card-2-hex {
  color: #8cbeb2;
}
.vintage-card-3-hex {
  color: #f2ebbf;
}
.vintage-card-4-hex {
  color: #f3b562;
}
.vintage-card-5-hex {
  color: #f06060;
}
