html{
    background-color: #8CBEB2;
    background: url("https://i.pinimg.com/originals/51/ef/eb/51efeb2d035a4a3e0113ccef7857b4a1.jpg") no-repeat center center fixed; 
    background-size: cover;
    overflow: hidden;
}

body{
    color: #F3B562;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
}

.title{
    font-weight: bold;
    transform: skew(-7deg) translateX(100%);
    text-shadow: 3px 3px #5C4B51;
    font-size: 100px;
    animation: titleintro 6s;
}
@keyframes titleintro {
    0%{transform: skew(-7deg) translateX(-100%);}
    50%{transform: skew(-7deg) translateX(0%);}
    100%{transform: skew(-7deg) translateX(100%);}
}

.💪📦{
    position: absolute;
    width: 100%;
    bottom: 3%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 0.6%;
    font-size: 130px;
}

.💪📦 > div{
    margin: auto;
    text-align: center;
    background-clip:border-box ;
    color: rgba(0, 0, 0, 0);
}

.health{
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(to top, #F06060 100%, #F3B562 0);
}
.food{
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(to top, #F06060 100%, #F3B562 0);
}
.energy{
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(to top, #F06060 100%, #F3B562 0);
}
.happiness{
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(to top, #F06060 100%, #F3B562 0);
}


.🐈{
   position: absolute;
   bottom: 0%;
   left: 50%;
   transform: translate(-50%, 10%);
}


/* Color Theme Swatches in Hex */
.vintage-card-1-hex { color: #5C4B51; }
.vintage-card-2-hex { color: #8CBEB2; }
.vintage-card-3-hex { color: #F2EBBF; }
.vintage-card-4-hex { color: #F3B562; }
.vintage-card-5-hex { color: #F06060; }